body {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container h1 {
  font-size: 80px;
  font-weight: 400;
  padding-bottom: 24px;
  border-bottom: 2px solid #000;
}

.photo-content {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 324px;
  height: 324px;
}

.profile h3,
.education h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  padding-bottom: 16px;
  border-bottom: 2px solid #000;
  margin-bottom: 16px;
}

.profile h3 span,
.education h3 span {
  font-size: 24px;
  color: #a00404;
  padding-left: 26px;
  font-weight: bold;
}

.profile .profile-content,
.profile .edu-content,
.education .profile-content,
.education .edu-content {
  font-size: 24px;
  font-weight: 300;
}

.profile .content-top,
.education .content-top {
  margin-bottom: 24px;
}

.profile .content-bottom,
.education .content-bottom {
  margin-bottom: 72px;
}

.skills-content {
  background-color: #415165;
  color: #fff;
  padding-left: 102px;
  padding-right: 102px;
  padding-top: 24px;
  padding-bottom: 52px;
}

.skills-content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
}

.skills-content h3 span {
  font-size: 24px;
  margin-left: 16px;
}

.skills-content .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 300;
}

.skills-content .line {
  width: 1px;
  height: auto;
  background-color: #fff;
  margin-right: 24px;
}

.skills-content .skill {
  border-left: 1px solid #fff;
  padding-left: 24px;
}

.skills-content .skill p {
  margin-bottom: 20px;
}

.skills-content .skill .last {
  margin-bottom: 0;
}

.work-exp-content {
  padding-top: 60px;
}

.work-exp-content h3 {
  padding-bottom: 8px;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #000;
}

.work-exp-content h3 span {
  font-size: 24px;
  color: #a00404;
  padding-left: 26px;
  font-weight: bold;
}

.work-exp {
  margin-left: 24px;
  padding-left: 24px;
  margin-top: 16px;
  margin-bottom: 72px;
  border-left: 1px solid #96a9c4;
}

.work-exp p {
  font-size: 24px;
  margin-bottom: 32px;
}

.work-exp .work-exp-detail {
  font-size: 20px;
  font-weight: 300;
  width: 640px;
}

.work-exp .top {
  margin-bottom: 0;
}

.work-exp .bottom {
  margin-bottom: 0;
}

.work-exp img {
  margin-top: 8px;
  margin-bottom: 8px;
}

footer {
  color: #fff;
  background-color: #415165;
  padding-right: 360px;
  padding-left: 360px;
  padding-top: 24px;
}

footer h3 {
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  border-bottom: 1px solid #fff;
}

footer h3 span {
  font-size: 24px;
  margin-left: 16px;
}

footer .contact {
  margin-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 16px;
}

footer .icons {
  margin-top: 4px;
}

footer .icons .middle {
  margin-left: 24px;
  margin-right: 24px;
}
